# Environment files
.env
.env.*
!.env.example
# Ignore all node_modules folders
**/node_modules/

# Ignore all .next build folders
**/.next/

# Documentation Case Studies
docs/PM_CASE_STUDY.md
docs/NOTION_CASE_STUDY.md
